astroid==1.6.6
backports.functools-lru-cache==1.6.1
certifi==2020.6.20
chardet==3.0.4
CherryTree==0.38.8
click==7.1.2
configparser==4.0.2
dbus-python==1.2.16
enum34==1.1.10
Flask==1.1.2
freeze==3.0
futures==3.3.0
idna==2.10
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.11.2
lazy-object-proxy==1.5.1
MarkupSafe==1.1.1
mccabe==0.6.1
numpy==1.16.5
pycairo==1.16.2
pyenchant==2.0.0
PyGObject==3.36.0
pylint==1.9.5
requests==2.24.0
singledispatch==3.4.0.3
six==1.15.0
urllib3==1.25.10
Werkzeug==1.0.1
wrapt==1.12.1
